* {
    margin: 0;
    padding: 0;
}

/* header */

header .container {
  width: 400px;
  margin: 0 auto;
  padding: 32px 0;
  display: flex;
  align-items: center;
}

header .container div + div {
  margin-left: 32px;
}

header .container img {
  border-radius: 50%;
  width: 120px;
  height: 120px;
  vertical-align: bottom;
}

header .headerIcon img {
  width: 20px;
  height: 20px;
}

header {
  background-image: url(../img/background.png);
}

header h1 {
  font-weight: normal;
  font-size: 24px;
}

header ul {
    list-style: none;
    display: flex;
}

header ul li + li {
  margin-left: 8px;
}

/* main*/

main .container {
  width: 400px;
  margin: 0 auto;
}

main .container img {
  width: 400px;
  height: 225px;
}

main h1 {
  font-weight: normal;
  font-size: 24px;
  text-align: center;
  padding: 60px 0;
}

main h2 {
  font-weight: normal;
  font-size: 20px;
  margin-top: 16px;
}

main p {
  line-height: 1.8;
  margin-top: 16px;
}

main section + section {
  margin-top: 60px;
}

/* footer */

footer {
  text-align: center;
}
